
ecs_fargate/2-platform/.terraform/providers/registry.terraform.io/hashicorp/aws/3.66.0/windows_amd64/terraform-provider-aws_v3.66.0_x5.exe
ecs_fargate/1-infrastructure/.terraform/providers/registry.terraform.io/hashicorp/aws/3.66.0/windows_amd64/terraform-provider-aws_v3.66.0_x5.exe
